@import "variable.styl"
@import "border.styl"

body, html
  line-height: 1
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  user-select: none
  -webkit-tap-highlight-color: transparent
  background: $color-background
  color: $color-theme

.kalix-input
  width: 100%;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  background-color: transparent;
  font-size: inherit;
  color: inherit;
  height: 1.47058824em;
  line-height: 1.47058824;

.weui-textarea
  display: block;
  border: 0;
  resize: none;
  width: 100%;
  color: inherit;
  font-size: 1em;
  line-height: inherit;
  outline: 0;

.el-input__inner,
.el-textarea__inner
  border none

.el-form-item
  margin-bottom 0
  &.is-required
    .el-form-item__label:before
      visibility hidden

.s-flex
  display flex
  .s-flex_item
    flex 1

.kalix-gulp
  margin-top 10px
  position: relative
  &:before
    setTopLine(#D9D9D9)
    z-index 1
  &:after
    setBottomLine(#D9D9D9)
    z-index 1
  .kalix-cells
    .kalix-cell
      position: relative
      margin 0
      & + .kalix-cell
        &:before
          setTopLine(#D9D9D9)
          z-index 1

